@import '../../../styles.scss';

.card {
    @include flex-column();
    align-items: normal;
    justify-content: initial;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0px 0 10px #000;
    box-sizing: border-box;
    width: 250px;
    height: 350px;
    background-color: #fff;
    transition: transform 0.5s linear;
    cursor: pointer;

    &:hover {
        transform: scale(1.03);
    }

    .card-image {
        height: 150px;
        object-fit: cover;
        object-position: center;
    }

    .card-info {
        @include flex-column();
        align-items: flex-start;
        padding: 10px 15px;
        gap: 5px;
        background-color: #fff;

        .card-name {
            font-weight: bold;
        }

        span {
            font-weight: bold;
        }
    }


    &.dark {
        background-color: $dark-color;
        box-shadow: 0px 0 10px #fff;
        color: #fff;

        .card-info {
            background-color: $dark-color;
        }
    }
}