<div class="card">
    <img class="card-image" [src]="cardElement?.image">
    <div class="card-info">
        <p class="card-name">{{cardElement?.name}}</p>
        <p> <span>Status:</span> {{cardElement?.status}} </p>
        <p> <span>Species:</span> {{cardElement?.species}}</p>
        <p> <span>Gender:</span> {{cardElement?.gender}}</p>
        <p> <span>Origin: </span> {{cardElement?.origin!.name}}</p>
        <p> <span>Location:</span> {{cardElement?.location!.name}}</p>
    </div>
</div>