@import '../../../styles.scss';

.card {
    @include flex(column, normal);

    font-size: 1rem;
    border-radius: 0.3rem;
    box-shadow: 0px 0 10px #000;
    box-sizing: border-box;
    background-color: #fff;
    transition: transform 0.5s linear;
    cursor: pointer;

    &:hover {
        transform: scale(1.03);
    }

    .card-image {
        height: 13rem;
        object-fit: cover;
        object-position: 0 -9rem;
    }

    .card-info {
        @include flex(column, flex-start);

        padding: 0.6rem 0.9rem;
        gap: 0.3rem;
        background-color: #fff;

        .card-name {
            font-weight: bold;
        }

        span {
            font-weight: bold;
        }  
    }

    .rate {
        @include flex(row, start, start);

        gap: 10px;
        padding: 0.6rem 0.9rem;

        .rate-item {
            width: 20px;
            height: 20px;

            svg {
                width: 100%;
                height: 100%;
                transition: all 0.2s linear;
            }


            &.active {
                .star {
                    fill: #F0B100;
                }
            }
        }
    }


    &.dark {
        background-color: $dark-color;
        box-shadow: 0px 0 10px #fff;
        color: #fff;

        .card-info {
            background-color: $dark-color;
        }
    }
}

.skeleton {
    @include flex(column);

    gap: 10px;

    .p-ligns {
        @include flex(column, initial);

        gap: 5px;
        width: 100%;
    }
}