<div class="card">
    @let cardObject = card();

    @if(cardObject) {
    <img class="card-image" [src]="cardObject.image">
    <div class="card-info">
        <p class="card-name">{{cardObject.name}}</p>
        <p> <span>Status:</span> {{cardObject.status}} </p>
        <p> <span>Species:</span> {{cardObject.species}}</p>
        <p> <span>Gender:</span> {{cardObject.gender}}</p>
        <p> <span>Origin: </span> {{cardObject.origin.name}}</p>
        <p> <span>Location:</span> {{cardObject.location.name}}</p>
    </div>
    }
</div>