@import '../../../styles.scss';

.header {
    padding: 0.9rem;

    .icon-wrapper {
        @include flex();

        float: right;
        width: 1.9rem;
        height: 1.9rem;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
        }
    }
}