<div class="popup" [class.dark]="!themeService.lightOn$.getValue()">
    <div class="popup-actions">
        <button class="edit btn" [disabled]="isEditable" (click)="updateData()">Edit</button>
        <button class="view btn" [disabled]="!isEditable" (click)="saveData()">Save</button>
    </div>

    @let character = popupService.character$ | async;

    @if(character && form) {
    <div class="card" [id]="character.id">
        <img [src]="character.image" alt="character">

        <div class="card-info">
            <p class="card-name">{{character.name}}</p>

            <div class="form" [formGroup]="form">
                <label for="status"> Status:
                    <input type="text" pInputText pSize="small" id="status" formControlName="status">
                </label>
                <label for="species"> Species:
                    <input type="text" pInputText pSize="small" id="species" formControlName="species">
                </label>
                <label for="gender"> Gender:
                    <input type="text" pInputText pSize="small" id="gender" formControlName="gender">
                </label>
                <label for="origin"> Origin:
                    <input type="text" pInputText pSize="small" id="origin" formControlName="origin">
                </label>
                <label for="location"> Location:
                    <input type="text" pInputText pSize="small" id="location" formControlName="location">
                </label>
            </div>
        </div>
    </div>
    }

</div>