@import '../../../styles.scss';

.popup {
    @include flex();
    cursor: default;
    position: relative;

    .popup-actions {
        @include flex();
        justify-content: space-between;
        float: right;
        gap: 10px;
        position: absolute;
        right: 10px;
        top: 10px;

        .btn {
            padding: 5px 10px;
            border-radius: 5px;
            font-family: Rawrote, sans-serif;
            outline: none;
            border: none;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
        }

        .close {
            width: 25px;
            height: 25px;
            cursor: pointer;
        }
    }

    .card {
        width: 100%;
        font-size: 20px;
        background-color: #fff;

        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
            aspect-ratio: 2/1;
        }

        .card-info {
            padding: 10px 15px;
            background-color: #fff;
            font-family: Rawrote, sans-serif;
            font-size: 0.8em;

            .card-name {
                font-weight: bold;
                margin-bottom: 5px;
            }

            .form {
                @include flex-column();
                align-items: start;
                gap: 5px;

                label {
                    font-weight: bold;
                }
            }
        }
    }

    &.dark {
        .card {
            background-color: $dark-color;
            color: #fff;

            .card-info {
                background-color: $dark-color;
                color: #fff;
            }
        }
    }
}