<div class="header" (click)="toggleTheme()" [class.dark]="!themeService.lightOn$.getValue()">
    <div class="container">
        <div></div>
        <h1 class="gallery-name">The Rick and Morty</h1>
        <div class="icon-wrapper">

            @let theme = themeService.lightOn$.getValue();

            @if(theme) {
            <img src="../../../assets/images/sun.svg" alt="light">
            } @else {
            <img src="../../../assets/images/moon.svg" alt="dark">
            }
        </div>
    </div>

</div>