@import '../../../styles.scss';

.modal {
    @include flex();

    cursor: default;
    /*    position: relative; */

    &.dark {
        .card {
            background-color: $dark-color;
            color: #fff;

            .card-info-wrapper {
                background-color: $dark-color;
                color: #fff;
            }
        }
    }

    .card {
        width: 100%;
        font-size: 1.25rem;
        background-color: #fff;

        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
            aspect-ratio: 2/1;
        }

        .card-info-wrapper {
            padding: 0.6rem 0.9rem;
            background-color: #fff;
            font-family: Rawrote, sans-serif;
            font-size: 0.8em;

            .card-info {
                @include flex(row, center, space-between);

                .card-name {
                    font-weight: bold;
                    margin-bottom: 0.3rem;
                }
                margin-bottom: 10px;
            }
        }

        &.dark {
            background-color: $dark-color;
            box-shadow: 0px 0 10px #fff;
            color: #fff;

            .card-info-wrapper {
                background-color: $dark-color;
            }
        }
    }
}