<div class="modal">

    @if(characterResponse) {
    <div class="card" [id]="characterResponse.id" [class.dark]="!themeService.lightOn$.getValue()">
        <img [src]="characterResponse.image" alt="character">

        <div class="card-info-wrapper">
            <div class="card-info">
                <p class="card-name">{{characterResponse.name}}</p>
                <app-modal-actions></app-modal-actions>
            </div>

            <app-character-form [currCharacter]="characterResponse"></app-character-form>
        </div>
    </div>
    }
</div>