<div class="container">
    <h1 class="gallery-name">The Rick and Morty</h1>
    <input type="text" class="search" placeholder="Character name" [formControl]="nameControl">
    <div class="all-cards">
      <app-error></app-error>
  
      @for (card of (cards$ | async)?.results; track $index) {
  
  
      @if(isLoading) {
      <div class="item">
        <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
          'border-radius': '5px',
          width: '250px',
          height: '150px',
          display: 'block',
          border: '1px solid white'
        }"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="6" appearance="line" [theme]="{ 
          'border-radius': '5px',
          width: '200px',
          display: 'block',
          border: '1px solid white'
        }" />
      </div>
      } @else {
      <app-card [card]="card"></app-card>
      }
  
      }
  
      <app-popup></app-popup>
    </div>
  </div>
