<div class="container">
  <h1 class="gallery-name" [class.dark]="!themeService.lightOn$.getValue()">The Rick and Morty</h1>
  <input type="text" class="search" placeholder="Character name" [formControl]="nameControl">
  <div class="all-cards">

    @let error = errorService.error$ | async;
    @if(error) {
    <app-error [error]="error"></app-error>
    }

    @for (card of (cards$ | async)?.results; track $index) {
    <app-card [card]="card" (click)="showModal($event)" [isLoading]='isLoading'></app-card>
    }




    @if(popupService.popup$.getValue()) {
    <app-modal-container></app-modal-container>
    }
  </div>
</div>