@import '../../../styles.scss';

.container {
    @include flex(column);

    font-family: Rawrote, sans-serif;
    gap: 0.6rem;
    max-width: 1440px;
    padding: 1.25rem;
    box-sizing: border-box;
    margin: 0 auto;
    margin-right: 0;

    h1 {
        &.dark {
            color: #fff;
        }
    }

    .search {
        width: 15.6rem;
        padding: 0.3rem;
        border-radius: 0.3rem;
        border: 0.06rem solid black;
        outline: none;
        font-family: Rawrote, sans-serif;
        font-size: 1.1rem;
    }

    .all-cards {
        @include flex(row, center, center);

        gap: 1.9rem;

        .item {
            @include flex(column);
        }
    }
}