@import '../../../styles.scss';

.container {
/*     @include flex(column); */
    @include flex(column, center, center);

    font-family: Rawrote, sans-serif;
   /*  gap: 0.6rem; */
    gap: 1.5rem;
    flex-wrap: nowrap; //
  /*   max-width: 1440px; */
    max-width: 700px;
    padding: 1.25rem;
    box-sizing: border-box;
    margin: 0 auto;
 /*    margin-right: 0; */

    .search {
        width: 15.6rem;
        padding: 0.3rem;
        border-radius: 0.3rem;
        border: 0.06rem solid black;
        outline: none;
        font-family: Rawrote, sans-serif;
        font-size: 1.1rem;
    }

    .all-cards {
        @include flex(row, center, center);

        gap: 1.9rem;

        .item {
            @include flex(column);
        }
    }
}

cdk-virtual-scroll-viewport {
    @include flex(column);

    height: 80dvh;
    width: 60dvw;
    margin: 0 auto;
}