@font-face {
    font-family: 'Rawrote';
    src: url('./assets/fonts/Rawrote.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    overflow-y: auto;

    &.blocked {
        overflow-y: hidden;
    }
}