:root {
    --main-color: #fff;
    --black-color: #000;
    --dark-color: #575454;
    --grey-color: #beb6b6;
    --yellow-color: #F0B100;
    --blue-color: #00ffff80;
    --dark-blue-color: #02888880;
    --red-color: #ff0000;
}