@import "../../../../styles.scss";

.form {
    @include flex(row, center, center);

    gap: 0.4rem;
    flex-wrap: wrap;

    .label-form {
        font-weight: bold;

        input {
            &.ng-invalid {
                border: var(--red-color);
            }
        }
    }

    .error-message {
        color: var(--red-color);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.7rem;
        opacity: 1;
        transition: opacity 0.3s linear;
        min-height: 1rem;
        visibility: visible;
        text-align: center;
    }
}