@if(form) {
<div class="form" [formGroup]=" form">
    <app-input-validation>
        <span> Status:</span>
        <input type="text" pInputText pSize="small" id="status" [formControl]="getControl('status')">
    </app-input-validation>

    <app-input-validation>
        <span> Species:</span>
        <input type="text" pInputText pSize="small" id="species" [formControl]="getControl('species')">
    </app-input-validation>

    <app-input-validation>
        <span> Gender:</span>
        <input type="text" pInputText pSize="small" id="gender" [formControl]="getControl('gender')">
    </app-input-validation>

    <app-input-validation>
        <span> Origin:</span>
        <input type="text" pInputText pSize="small" id="origin" [formControl]="getControl('origin')">
    </app-input-validation>

    <app-input-validation>
        <span> Location:</span>
        <input type="text" pInputText pSize="small" id="location" [formControl]="getControl('location')">
    </app-input-validation>

    <app-rating formControlName="rating"></app-rating>
</div>
}