<div class="form" [formGroup]=" form">
    <app-control-wrapper [invalidForm]="invalidForm">
        <span> Status:</span>
        <input type="text" pInputText pSize="small" id="status" [formControl]="form.controls.status">
    </app-control-wrapper>

    <app-control-wrapper [invalidForm]="invalidForm">
        <span> Species:</span>
        <input type="text" pInputText pSize="small" id="species" [formControl]="form.controls.species">
    </app-control-wrapper>

    <app-control-wrapper [invalidForm]="invalidForm">
        <span> Gender:</span>
        <input type="text" pInputText pSize="small" id="gender" [formControl]="form.controls.gender">
    </app-control-wrapper>

    <app-control-wrapper [invalidForm]="invalidForm">
        <span> Origin:</span>
        <input type="text" pInputText pSize="small" id="origin" [formControl]="form.controls.origin">
    </app-control-wrapper>

    <app-control-wrapper [invalidForm]="invalidForm">
        <span> Location:</span>
        <input type="text" pInputText pSize="small" id="location" [formControl]="form.controls.location">
    </app-control-wrapper>

    <app-control-wrapper [invalidForm]="invalidForm ">
        <span> Password:</span>
        <input type="password" pInputText pSize="small" id="password" [formControl]="form.controls.pass"
            [class.ng-invalid]="checkPasswordError()">
    </app-control-wrapper>

    <app-control-wrapper [invalidForm]="invalidForm ">
        <span> Repeat password:</span>
        <input type="password" pInputText pSize="small" id="r-password" [formControl]="form.controls.repeatPass"
            [class.ng-invalid]="checkPasswordError()">

        @if(checkPasswordError()) {
        <span class="error-message">Passwords are different</span>
        }
    </app-control-wrapper>

    <app-control-wrapper [invalidForm]="invalidForm ">
        <app-rating [formControl]="form.controls.rating" [updatedRate]="0"> </app-rating>
    </app-control-wrapper>

    <p-toast position="bottom-right"></p-toast>
</div>