@if(form) {
<div class="form" [formGroup]=" form">
    <label for="status"> Status:
        <input type="text" pInputText pSize="small" id="status" formControlName="status">
    </label>
    <label for="species"> Species:
        <input type="text" pInputText pSize="small" id="species" formControlName="species">
    </label>
    <label for="gender"> Gender:
        <input type="text" pInputText pSize="small" id="gender" formControlName="gender">
    </label>
    <label for="origin"> Origin:
        <input type="text" pInputText pSize="small" id="origin" formControlName="origin">
    </label>
    <label for="location"> Location:
        <input type="text" pInputText pSize="small" id="location" formControlName="location">
    </label>
</div>
}